
<h1 style="text-align: center;">Angular Project One</h1>

    <a class="card1" routerLink="pagesubone" routerLinkActive="active">
      <h3>This is Page Sub One</h3>
      <p class="small"> </p>
      <div class="go-corner" href="#">
        <div class="go-arrow">
          →
        </div>
      </div>
    </a>
    
    <a class="card2" routerLink="pagesubtwo" routerLinkActive="active">
      <h3>This is page Sub Two</h3>
      <p class="small"></p>
      
      <div class="go-corner" href="#">
        <div class="go-arrow">
          →
        </div>
      </div>
    </a>
  