<aside>
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
        <div class="position-sticky pt-3">
          <ul>
            <li>
              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>LAB Tech</span>
                <a (click)="toggleMenu($event, 0)" class="link-secondary" data-bs-toggle="collapse" href="#collapseMain" aria-expanded="true" aria-controls="collapseMain" aria-label="Principal">
                  <div *ngIf="!expandedMenu[0]"><i class="bi bi-node-plus"></i></div>
                  <div *ngIf="expandedMenu[0]"><i class="bi bi-node-minus"></i></div>
                </a>
              </h6>
              <div class="collapse show" id="collapseMain">
                <ul class="nav flex-column" >
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/" routerLinkActive="active" href="#">
                      <span data-feather="home"></span>
                      Dashboard
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/approuteng1" routerLinkActive="active">
                      <span data-feather="code"></span>
                      Frontend
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/react1">
                      <span data-feather="code"></span>
                      Backend
                    </a>
                  </li>
    
                </ul>
              </div>
            </li>
            <li>
              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>DevOps</span>
                <a (click)="toggleMenu($event, 1)" class="link-secondary" data-bs-toggle="collapse" href="#collapseSec" aria-expanded="false" aria-controls="collapseSec" aria-label="Secondary">
                  <div *ngIf="!expandedMenu[1]"><i class="bi bi-node-plus"></i></div>
                  <div *ngIf="expandedMenu[1]"><i class="bi bi-node-minus"></i></div>
                </a>
              </h6>
              <div class="collapse" id="collapseSec">
                <ul class="nav flex-column mb-2">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/approuteng2/login" routerLinkActive="active">
                      <span data-feather="terminal"></span>
                      CICD
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="terminal"></span>
                      Terraform
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="github"></span>
                      Github
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="gitlab"></span>
                      Gitlab
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Cloud</span>
                <a (click)="toggleMenu($event, 2)" class="link-secondary" data-bs-toggle="collapse" href="#collapseCloud" aria-expanded="false" aria-controls="collapseCloud" aria-label="Cloud">
                  <div *ngIf="!expandedMenu[2]"><i class="bi bi-node-plus"></i></div>
                  <div *ngIf="expandedMenu[2]"><i class="bi bi-node-minus"></i></div>
                </a>
              </h6>
              <div class="collapse" id="collapseCloud">
                <ul class="nav flex-column mb-2">
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="cloud"></span>
                      AWS
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="cloud"></span>
                      Azure
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="cloud"></span>
                      GCP
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>

        </div>
    </nav>
</aside>
