nav ul {
    padding-left: 0px !important;
}
nav ul li ul {
    margin: 0;
    background: rgba(69,69,69,.6);
    padding: 7px 0;
}

/*nav ul li ul::before{
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 23px;
    top: 0;
    bottom: 0;
    border-left: 1px solid #7A7A7A;
}*/


.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
   * Sidebar
   */
  
.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: rgb(248, 250, 249);
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #b3adad;
}

.sidebar .nav-link.active {
    color: #0cc295;
    font-weight: 750;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .80rem;
    text-transform: uppercase;
}

h6 {
    color: #ffffff!important;
}

i {
    font-size: 1.4rem;
}